<!DOCTYPE html>
<html lang="zxx">


<head>
    <title>LEADING DIGITAL TRANSFORMATION COMPANY IN SAUDI AND INDIA</title>
    <meta name="description" content="Top software development company in Saudi Arabia, with expertise in Riyadh web& app development and leading Saudi SEO company services"/>
    <link rel="apple-touch-icon" sizes="180x180" href="asset/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="asset/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="asset/favicon/favicon-16x16.png" >
    <link rel="manifest" href="asset/favicon/site.webmanifest">
    <!-- Google Fonts Css-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="canonical" href="https://brandbik.com/service/" />
    <!-- Bootstrap Css -->
    <link href="asset/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- SlickNav Css -->
    <link href="asset/css/slicknav.min.css" rel="stylesheet">
    <!-- Swiper Css -->
    <link rel="stylesheet" href= "asset/css/swiper-bundle.min.css">
    <!-- Font Awesome Icon Css-->
    <link href="asset/css/all.css" rel="stylesheet" media="screen">
    <!-- Animated Css -->
    <link href="asset/css/animate.css" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
    <link rel="stylesheet" href="asset/css/magnific-popup.css">
    <!-- Main Custom Css -->
    <link href="asset/css/custom.css" rel="stylesheet" media="screen">
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PB4PJ63Q');</script>
    <!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5XG02TQ6J4"></script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "brandbik",
      "url": "https://brandbik.com/",
      "logo": "https://brandbik.com/",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "",
        "contactType": "customer service",
        "areaServed": "SA",
        "availableLanguage": ["en","Arabic"]
      },
      "sameAs": [
        "https://x.com/brandbik?t=TgQKNPUWVKHGhGHD-yaAdg&s=08",
        "https://www.instagram.com/brandbik_creatives/?igsh=MWo0Nm9vZzRuZzJhdA%3D%3D",
        "https://www.linkedin.com/company/brandbik-creatives/"
      ]
    }
    </script>
    
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5XG02TQ6J4');
</script>

    
</head>
<body class="tt-magic-cursor">
    <style>
        #gradin {

            position: relative;
            /* Position the text element */
            font-weight: bold;
            /* Make the text bold */
            background: linear-gradient(to right, #3773fd 0%, #0fe3f6  51%,#3773fd 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

       
    </style>

    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-container">
            <div class="loading"></div>
            <div id="loading-icon"><img src="asset/images/branbik logo re.png"  alt="brandbik-logo"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Magic Cursor Start -->
    <div id="magic-cursor">
        <div id="ball"></div>
    </div>
    <!-- Magic Cursor End -->

    <!-- Header Start -->


    <header class="main-header">
        <div class="header-sticky">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Logo Start -->
                    <a class="navbar-brand" href="index.html" >
                        <img src= "asset/images/branbik logo re.png" alt="Logo">
                    </a>
                    <!-- Logo End -->

                    <!-- Main Menu Start -->
                    <div class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto" id="menu">
                                <li class="nav-item "><a class="nav-link" href="{% url "index" %}">home</a>

                                </li>
                                <li class="nav-item"><a class="nav-link" href="{% url "about" %}">about us</a></li>


                                <li class="nav-item"><a class="nav-link" href="{% url "portfolio" %}">portfolio</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url "blog" %}">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url "service" %}">Service</a></li>

                                <li class="nav-item"><a class="nav-link" href="{% url "contact" %}">contacts</a></li>

                                <!-- <ul>                                        
                                        <li class="nav-item"><a class="nav-link" href="service-single.html">service details</a></li>
                                        <li class="nav-item"><a class="nav-link" href="portfolio-single.html">portfolio details </a></li>

                                        <li class="nav-item"><a class="nav-link" href="faqs.html">FAQ</a></li>
                                        <li class="nav-item"><a class="nav-link" href="404.html">404</a></li>
                                    </ul> -->
                                </li>
                                <!-- <li class="nav-item highlighted-menu"><a class="nav-link" href="contact-us.html">free consultation</a></li>                                -->
                            </ul>
                        </div>
                        <!-- Let’s Start Button Start -->
                        <div class="header-btn d-inline-flex">
                            <a href="https://api.whatsapp.com/send?phone=9074851748
                            &text=Hello!" class="btn-default">Connect with us</a>
                        </div>
                        <!-- Let’s Start Button End -->
                    </div>
                    <!-- Main Menu End -->

                    <div class="navbar-toggle"></div>
                </div>
            </nav>
            <div class="responsive-menu"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Page Header Box Start -->
					<div class="page-header-box">
						<h1 class="text-anime-style-3">{{service.name|safe}}</h1>
						<nav class="wow fadeInUp" data-wow-delay="0.25s">
							
						</nav>
					</div>
					<!-- Page Header Box End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

    <!-- Single Service Page Start -->
    
    <div class="page-service-single">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8">
					<!-- Service Content Start -->
					<div class="service-single-content">
						<!-- Service Featured Image Start -->
						<div class="service-featured-image">
							<figure class="image-anime reveal">
								<img src="{{ service.image.url}}" alt="">
							</figure>
						</div>
						<!-- Service Featured Image End -->
						
						<!-- Service Entry Content Start -->
						<div class="service-entry">
							
							<p class="wow fadeInUp" data-wow-delay="0.5s">{{ service.description|safe}}</p>
                            
						</div>
						<!-- Service Entry Content End -->
					</div>
					<!-- Service Content End -->
				</div>
               

               

                <div class="col-lg-4">
					<div class="service-sidebar">
						<!-- Service List Box Start -->
						<div class="services-list-box wow fadeInUp" data-wow-delay="0.5s">
                            <div class="icon-box">
                                <img src="asset/images/icon-service-list.svg" alt="">
                            </div>
                            <h3>{{ service.name }}</h3>
							<ul>
								<li><a href="#">Web development</a></li>
								<li><a href="#">Branding</a></li>
								<li><a href="#">Digital Marketing</a></li>
								<li><a href="#">App development</a></li>
								<li><a href="#">SEO</a></li>
								
							</ul>
                            <a href="https://api.whatsapp.com/send?phone=9074851748
                            &text=Hello!" class="btn-default">contact now</a>
						</div>
						<!-- Service List Box End -->
					</div>
				</div>
                
            </div>
        </div>
    </div>
    <!-- Single Service Page End -->

    <!-- Why Choose us Section Start -->
    
    <!-- Our Services Section End -->

    <!-- FAQs Page Start -->
    <div class="service-faqs">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">FAQ's</h3>
                        <h2 class="text-anime-style-3">Frequently asked question</h2>                       
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="faq-accordion" id="accordion">
                        <!-- FAQ Item start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.25s">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What is SEO, and why is it going to be important for my business in Saudi Arabia?

                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>SEO stands for "Search Engine Optimization," which means a process that helps the ranking of your website with higher precedence in search engine results so that your business can reach many potential customers. Competition in the market is very high in Saudi Arabia, and therefore, effective SEO for your business holds the key to growth.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Digital marketing results aren't born one day by chance
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>At Brandbik, we believe that fruitful digital marketing is based on strategic planning and well-versed data insights. Being one of the most prominent digital marketing agencies in Saudi Arabia, our approach involves creativity, innovation, and expertise in the given field to help your business blossom in this digital world. Whether it's brand awareness, driving more traffic, or bringing leads to becoming customers, our results prove the case.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.75s">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Choose Brandbik as Your Branding Agency in Riyadh?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>We at Brandbik believe the brand identity goes well beyond a mere logo and a tagline. We do, after all, believe that it is the strong bond that wil Why l leave a long-lasting connection to your target audience. As one of the premium branding firms in Riyadh, we lead the charge of creativity by way of strategic market insights in pursuit of an exclusive brand identity that stands out for your targeted market. We offer bespoke </p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        
                        <!-- FAQ Item End -->
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ask-question wow fadeInUp" data-wow-delay="0.5s">
                        <div class="ask-question-content">
                            <h3>You still have a questions</h3>
                            <p>dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                        <div class="ask-contact-list">
                            <div class="icon-box">
                                <a href="#"><img src="asset/images/icon-phone.svg" alt=""></a>
                            </div>
                            <a href="#"><span>Phone:</span> +91 90748 51748</a>
                        </div>

                        <div class="ask-contact-list">
                            <div class="icon-box">
                                <a href="#"><img src="asset/images/icon-mail.svg" alt=""></a>
                            </div>
                            <a href="#"><span>Email:</span> info@brandbik.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQs Page Ends -->

    <!-- Footer Start -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Mega Footer Start -->
                    <div class="mega-footer">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <!-- Footer About Start -->
                                <div class="footer-about">
                                    
                                    <p>Digital Transformation Agency</p>
                                    <ul>
                                        <li><a href="info@brandbik.com">info@brandbik.com</a></li>
                                        <li><a href="+91 90748 51748">+91 90748 51748
                                            </a></li>
                                        <li><a href="+91 8075347955
                                            ">+91 8075347955

                                            </a></li>
                                    </ul>
                                </div>
                                <!-- Footer About End -->
                            </div>

                            <div class="col-lg-2 col-md-4">
                                <!-- Footer Links Start -->
                                <div class="footer-links">
                                    <h2>pages</h2>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About Us</a></li>

                                        <li><a href="#contact-us.html">Contact Us</a></li>
                                    </ul>
                                </div>
                                <!-- Footer Links End -->
                            </div>

                            <div class="col-lg-2 col-md-4">
                                <!-- Footer Links Start -->
                                <div class="footer-links">
                                    <h2>Socials</h2>
                                    <ul>
                                        <li><a href="https://www.instagram.com/brandbik_creatives?igsh=MWo0Nm9vZzRuZzJhdA==
                                            ">instagram</a></li>
                                        <li><a href="#">facebook</a></li>
                                        <li><a href="https://x.com/brandbik?t=TgQKNPUWVKHGhGHD-yaAdg&s=08">twitter</a>
                                        </li>
                                        <li><a href="https://www.linkedin.com/company/brandbik-creatives/
                                            ">linkedin</a></li>
                                    </ul>
                                </div>
                                <!-- Footer Links End -->
                            </div>

                            <div class="col-lg-2 col-md-4">
                                <!-- Footer Links Start -->
                                <div class="footer-links">
                                    <h2>services</h2>
                                    <ul>
										<li><a href="The_best_software_development_company_in_Saudi_Arabia.html">Software company in saudi arabia</a></li>

                                        <li><a href="services.html" >Web development</a></li>
                                        <li><a href="service.html">Digital Marketing</a></li>
                                        <li><a href="services.html">Branding</a></li>
                                        <li><a href="services.html">
                                            </a>Digital Transformation
                                        </li>
                                        <li><a href="#">Advertising</a></li>
                                    </ul>
                                </div>
                                <!-- Footer Links End -->
                            </div>
                        </div>
                    </div>
                    <!-- Mega Footer End -->

                    <!-- Copyright Footer Start -->
                    <div class="footer-copyright">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <!-- Footer Copyright Content Start -->
                                <div class="footer-copyright-text">
                                    <p>Copyright © 2024 Brandbik All rights reserved.</p>
                                </div>
                                <!-- Footer Copyright Content End -->
                            </div>
                            <div class="col-lg-6">
                                <!-- Footer Policy Links Start -->
                                <div class="footer-policy-links">
                                    <ul>
                                        <li><a href="#">privacy policy</a></li>
                                        <li><a href="#">terms of service</a></li>
                                        <li class="highlighted"><a href="#top">go to top</a></li>
                                    </ul>
                                </div>
                                <!-- Footer Policy Links End -->
                            </div>
                        </div>
                    </div>
                    <!-- Copyright Footer End -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
  
     <!-- Jquery Library File -->
     <script src= "asset/js/jquery-3.7.1.min.js"></script>
     <!-- Bootstrap js file -->
     <script src= "asset/js/bootstrap.min.js"></script>
     <!-- Validator js file -->
     <script src="asset/js/validator.min.js"></script>
     <!-- SlickNav js file -->
     <script src= "asset/js/jquery.slicknav.js"></script>
     <!-- Swiper js file -->
     <script src= "asset/js/swiper-bundle.min.js"></script>
     <!-- Counter js file -->
     <script src="asset/js/jquery.waypoints.min.js"></script>
     <script src="asset/js/jquery.counterup.min.js"></script>
     <!-- Isotop js file -->
     <script src= "asset/js/isotope.min.js"></script>
     <!-- Magnific js file -->
     <script src= "asset/js/jquery.magnific-popup.min.js"></script>
     <!-- SmoothScroll -->
     <script src="asset/js/SmoothScroll.js"></script>
     <!-- MagicCursor js file -->
     <script src="asset/js/gsap.min.js"></script>
     <script src= "asset/js/magiccursor.js"></script>
     <!-- Text Effect js file -->
     <script src= "asset/js/SplitText.js"></script>
     <script src="asset/js/ScrollTrigger.min.js"></script>
     <!-- Wow js file -->
     <script src="js/wow.js"></script>
     <!-- Main Custom js file -->
     <script src="js/function.js"></script>
     <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PB4PJ63Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
 </body>
 
 <!-- Mirrored from demo.awaikenthemes.com/html-preview/weebix/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Aug 2024 05:22:37 GMT -->
 
 </html>